// Light mode:
$section-background:#D0D0D0;
$bookShelf-color:#000000;
$support-gradient: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
$box-shadow:0px 10px 10px rgba(245, 245, 247, 0.1);

// Dark mode:
$inscriptions-color:#F3F3F3;
$dark-bgc-color: #D0D0D0;

// Common colors
$subtitle-color: #B4AFAF;
$btn-support-color: #FFFFFF;
$primary-color: #111111;
$secondary-color: #4F2EE8;
$third-color: #EAC645;

//////////////////////////////
$some-color:#202024;


