@import './base/common';
@import './utils/utils-main';
@import './base/base';
@import './components/header';
@import './components/site-navigation';
@import './components/burger-menu';
@import './components/categories';
@import './components/support';
@import './components/swiper';
@import './components/categories-render';
@import './components/modal-window';
@import './components/loader';
@import './components/pagination';
@import './components/scroll-up';
@import './components/start-popup';
@import './components/shopping-list-render';
@import './components/see-more';

// ----------- for mark up home page

$mobile: 479.97px;
$tablet: 767.98px;
$desktop: 1199.97px;

.categories-wrap {
    height: 228px;
    overflow-y: hidden;
  display: flex;
  flex-direction: column;
  
@media screen and (min-width: $tablet){

    width: 337px;
    height: 472px;
}
@media screen and (min-width: $desktop) {

}
        
}

// }
// .categories-render-wrap{
//     display: flex;
//     margin: 40px auto;
//     width: 335px;
//      @media screen and (min-width: $tablet) {
//         width: 768px;
//         margin: 0 auto;
//      }
//     @media screen and (min-width: $desktop) {
//         align-items: center;
//         width: 1044px;
//         margin: 69px 0 0 ;
//         padding-top: 40px;
//      }
// }
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 104px;
    
    @media screen and (min-width: $tablet){
    display: flex;
    flex-direction: row;
    gap:32px;
    top: 112px;

    }
    @media screen and (min-width: $desktop) {
        flex-direction: column;
        width: 385px;
        gap:86px;
    }
}
.desctop-wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
@media screen and (min-width: $desktop) {
    
    flex-direction: row;
}
}


