@import './base/common';
@import './utils/utils-main';
@import './base/base';
@import './components/header';
@import './components/site-navigation';
@import './components/burger-menu';
@import './components/categories';
@import './components/support';
@import './components/swiper';
@import './components/categories-render';
@import './components/modal-window';
@import './components/loader';
@import './components/pagination';
@import './components/scroll-up';
@import './components/start-popup';
@import './components/shopping-list-render';

