// Light mode:
$section-background:#F6F6F6;
$book-shelf-color:#000000;
$support-gradient: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
$box-shadow:0px 10px 10px rgba(245, 245, 247, 0.1);
$sign-in-color-lm:rgba(17, 17, 17, 0.5);
$category-color-lm:rgba(17, 17, 17, 0.6);

// Dark mode:
$inscriptions-color:#F3F3F3;
$sign-in-color-dm:#F6F6F6;

// Common colors
$subtitle-color: #B4AFAF;
$btn-support-color: #FFFFFF;
$primary-color: #111111;
$secondary-color: #4F2EE8;
$third-color: #EAC645;

//////////////////////////////
$some-color:#202024;


