<include src="./partials/user-bar.html"></include>
<include src="./partials/site-navigation.html"></include>


<header class="header">
  <div class="container">
    <div class="header-nav">
      <a class="logo" href="./index.html">
        <svg class="logo-img" width="24px" height="24px">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
        <h1 class="logo-text">Bookshelf</h1>
      </a>
      <ul class="home-nav">
        <li class="nav-item">
          <button type="button" class="nav-btn" data-page="home-list">home</button>
        </li>
        <li class="nav-item">
          
            <button type="button" class="shpng-list-btn" data-page="shpng-list">
              Shopping list
              <svg class=" shpng-list-logo" width="13px" height="17px">
                <use href="./images/sprite.svg#"></use>
              </svg>
            </button>
         
        </li>
      </ul>
    </div>
      <div class="switch-auth">
        <div class="theme-switch-wr">
          <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
          </label>
        </div>
      </div>
     

      <button class="menu-btn js-open-menu">
        <svg width="28px" height="28px"></svg>
      </button>
    </div>
  </div>
</header>
