<header class="header">  
  <div class="container">
    <include src="./partials/user-bar.html"></include>
    
    <div class="header-nav">
      <a class="logo" href="./index.html">
        <svg class="logo-img" width="24px" height="24px">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
        <h1 class="logo-text">Bookshelf</h1>
      </a>
      <include src="./partials/site-navigation.html"></include>
      
    </div>
      <div class="switch-auth">
        <div class="theme-switch-wr">
          <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
          </label>
        </div>
      </div>
     

      <button class="menu-btn js-open-menu">
        <svg  width="28px" height="28px">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
        
      </button>
    </div>
  </div>
  <include src="./partials/burger-menu.html"></include>
</header>

