<button type="button" class="scroll-up-btn">
  <svg class="scroll-up-icon" width="32" height="32">
    <use href="./images/sprite.svg#up"></use>
  </svg>
</button>

<!-- delete this after the test

<div>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet tempore
  consectetur dolores quo voluptatum? Corrupti esse illo libero ipsam quidem ea
  vitae aliquid? Rerum et beatae veritatis quos odio optio molestiae vitae nisi
  quod, distinctio sapiente error earum maxime. Voluptate ducimus amet minus
  possimus quam, blanditiis provident, a dolorum consectetur non, repellat odio.
  Veniam fugiat repudiandae molestias incidunt natus rerum illum, et neque
  recusandae. Ipsum sapiente id alias consectetur eum vero sed quasi voluptatem.
  Eligendi delectus perferendis molestiae quam iure obcaecati voluptatum! Sunt
  natus fugiat ipsum officia soluta quia sequi alias odit quas fuga. Sapiente
  dolore tenetur mollitia. Voluptatem odio nobis quisquam voluptatibus
  architecto excepturi exercitationem quas saepe perspiciatis voluptates fuga
  molestias repudiandae optio tempora, quia itaque tempore animi sapiente,
  repellat quis, ea ipsum quam. Facere, officia! Eveniet accusamus rem impedit
  inventore doloremque ducimus harum eius debitis odio porro. Quas nemo repellat
  repudiandae quasi illo corrupti recusandae excepturi, reprehenderit odio,
  perspiciatis dolor veritatis! Reiciendis est odio delectus impedit atque alias
  blanditiis perspiciatis, in saepe pariatur totam maiores magni ad illo quia
  iusto doloribus debitis quisquam, illum provident. Ratione dignissimos
  delectus incidunt, aliquam distinctio illo eum. Quae odio ab dicta dolor
  expedita doloremque molestias nihil, reprehenderit inventore alias aut
  consectetur? Repudiandae nostrum in quis, doloremque doloribus obcaecati
  soluta quod architecto amet nam harum rem! Molestias repellendus distinctio
  explicabo, laudantium doloribus quasi natus. Omnis illo harum deleniti.
  Dolorum, quis sunt eveniet suscipit laborum iure ipsa non molestias magni
  perferendis. Soluta, quidem quia. Maxime veniam repellat id dolores! Ex esse
  voluptatum in odio earum magnam quod quibusdam facere debitis sint, nam rerum
  possimus, consectetur necessitatibus accusamus deserunt dolor quas iure aut
  dolore ipsa inventore. Beatae alias mollitia at odit architecto, dolorem
  explicabo assumenda deserunt dolore officia molestiae quia harum possimus,
  enim in nam, fugiat impedit totam. Alias inventore suscipit pariatur culpa rem
  doloribus nihil accusantium, beatae quas! Dolorum asperiores sint ipsa qui
  dolores assumenda est quas labore iste quibusdam fugit illum, minima nesciunt
  voluptatibus aliquam impedit. Nihil perferendis aliquam sed animi officiis
  mollitia pariatur accusantium optio dolore nulla, praesentium ipsam dolorum
  impedit officia perspiciatis iusto nisi accusamus doloremque id totam
  cupiditate consequatur laudantium voluptate? Repellendus, fugiat! Excepturi
  odio autem unde quos molestias? Ea itaque exercitationem reprehenderit
  distinctio saepe, necessitatibus quam et velit ratione hic ut adipisci numquam
  facilis autem libero enim nihil quos? Corporis perferendis ea consectetur,
  ipsum veniam minima nemo animi ratione illum eos aliquid voluptatem cupiditate
  sed nisi. Voluptate minima illum corrupti dolore iure architecto deserunt
  atque et provident, assumenda porro esse fuga molestiae voluptatum, quo
  ratione fugiat sed! Consequuntur, corrupti vitae libero modi, voluptates
  pariatur voluptatum quo ex ipsum officiis nihil maxime? Cum facilis totam
  corporis autem velit vitae consequuntur, perferendis optio accusantium
  voluptatibus commodi assumenda non sequi eaque voluptate necessitatibus sunt.
  Nulla, dolores esse perspiciatis saepe ipsam amet sequi nihil nemo vitae
  reprehenderit perferendis quas dicta minima molestiae. Quia illo fugit omnis
  repellat commodi, harum officiis ex iure nihil qui dolorem vel pariatur nulla,
  aliquid earum. Sed, facere quod quo ipsum porro adipisci aut molestiae!
  Voluptate quidem quibusdam facere. Excepturi aliquam temporibus explicabo cum
  eum! Minus veniam cum labore cumque esse consequuntur tempore, aperiam ipsa?
  Placeat laboriosam sit sapiente voluptate, aliquid, delectus voluptatum velit
  possimus unde in soluta vel ducimus, nobis exercitationem! Mollitia quo quasi
  eum culpa, quaerat minima neque consequuntur fuga veritatis praesentium
  tempore, perspiciatis cum numquam minus expedita officiis velit id totam
  voluptate at? Tempore soluta est modi corporis laboriosam error, maxime quis
  nobis, deserunt voluptas laudantium vitae, quaerat sapiente ipsum sequi
  necessitatibus saepe voluptatum architecto. Ducimus debitis numquam
  accusantium nostrum velit sapiente quas adipisci ipsa, ut voluptatum vitae
  minima beatae ad aliquam obcaecati consectetur itaque. Consectetur dolorum
  commodi ullam repellendus illum repudiandae reprehenderit veritatis earum
  aliquid corporis minus recusandae quis laboriosam modi neque, voluptatum
  dolorem excepturi cumque mollitia a debitis quam! Odio quae maxime sapiente
  dolorum, sunt incidunt voluptatibus soluta minima ex asperiores. Mollitia iste
  officia nobis et nihil dolorum fuga tenetur, laudantium expedita reiciendis
  cumque quo voluptate laboriosam. Adipisci culpa aliquid eius amet ducimus,
  perferendis maxime corrupti iusto nam hic ea eligendi placeat fuga voluptatem
  temporibus dolorum. Excepturi, iusto! Necessitatibus deserunt voluptatem eius
  animi reprehenderit culpa! Officiis maiores facilis sed excepturi labore! Odio
  porro harum soluta ab quam mollitia ea, accusamus officia ad, fuga inventore
  quasi vitae reprehenderit, deserunt dolorem nisi quia quis ipsa hic eligendi?
  Explicabo in sunt quisquam. Iusto ut obcaecati harum autem, facilis, ad porro
  necessitatibus inventore ipsum exercitationem repellendus in non ipsam culpa
  eos quod recusandae nisi fuga vel? Esse numquam odit explicabo quae debitis
  laboriosam deleniti hic! Excepturi molestiae nam, deleniti vel numquam
  officia, molestias esse repellendus eaque blanditiis commodi modi mollitia
  dicta dolore quod? Quo repellendus pariatur sint, ex ratione obcaecati
  consequatur illo esse beatae cum at ad eligendi molestiae fugiat qui incidunt
  ducimus maiores minus iste? Esse, quam sit eligendi architecto, dolorum
  asperiores vitae consectetur vel hic vero quasi itaque, qui sunt earum eveniet
  ducimus perspiciatis. Officiis expedita velit, necessitatibus repudiandae
  veniam rerum itaque dolorum ipsa minus delectus cumque dolor tenetur! Modi
  ducimus recusandae natus enim numquam at saepe minima excepturi exercitationem
  dolore officiis, id eligendi commodi rem, ab, fuga earum perferendis.
  Repellat, amet blanditiis repellendus adipisci laborum, vel quasi nemo, quidem
  eveniet fugit architecto ipsa similique. Corporis nam quasi maiores repellat
  odio, cum ab voluptatum, eos a blanditiis, iusto quas accusantium dicta culpa?
  Iste animi corporis recusandae eum, non aliquam odit doloremque inventore! Qui
  ipsam voluptatum dolorem voluptas sit temporibus amet sed rem quo incidunt
  animi, corrupti quisquam, architecto exercitationem ea impedit modi illum
  corporis cum alias, totam nobis. Doloremque illum iure expedita quas? Quas
  sunt laborum porro, ea quod ad earum. Alias, impedit, in consequuntur
  reprehenderit, quia odit amet harum vitae numquam perferendis dolores nihil
  vel necessitatibus. Eum aspernatur architecto id nemo saepe ea aliquid
  doloribus necessitatibus odit aperiam dignissimos libero corporis, facilis
  minus officiis pariatur illum ducimus molestiae perferendis, quasi officia.
  Totam rerum, soluta optio obcaecati magni quaerat laborum odio natus suscipit
  deleniti nulla aut architecto, mollitia error culpa impedit iure debitis
  veritatis, provident eos illo. Pariatur, debitis quos adipisci earum
  voluptatum qui voluptate blanditiis quasi consequuntur dolore quod quaerat
  esse sunt recusandae repellat nemo impedit nisi labore maiores nostrum
  delectus deserunt? Magni officiis sit hic, quas, asperiores commodi adipisci
  aspernatur et sunt consectetur a quisquam maxime fugiat excepturi repellat at
  cupiditate corrupti dicta ex aperiam id obcaecati. Nihil odit, quaerat tenetur
  veniam ex animi minima vero quo architecto perferendis molestias neque commodi
  id voluptatem sequi officiis consequuntur, eius suscipit quidem ipsa facilis!
  Culpa vel est natus nobis temporibus sunt, eveniet voluptas aliquid magni
  asperiores atque odio? Incidunt sit voluptatem, assumenda, suscipit iure dolor
  architecto provident optio labore obcaecati tempore. Placeat, ratione totam
  accusantium cupiditate quis magni voluptate eos necessitatibus excepturi
  officia commodi quas distinctio facere consectetur maiores fuga porro eum modi
  voluptas animi facilis ipsa repellat! Error omnis pariatur accusantium aliquid
  doloribus exercitationem. Tempore praesentium facere ipsa ullam maiores ea
  officia pariatur error adipisci amet fugit, nesciunt omnis autem. Id eos iusto
  aut enim. Aspernatur cupiditate quod veritatis esse exercitationem, cumque
  corporis temporibus, maxime asperiores, quos officiis voluptatibus
  repudiandae. Cumque rem, sequi neque eos quas aperiam beatae, omnis quo dicta
  blanditiis praesentium tenetur, esse dignissimos ut corporis aliquam. Autem,
  ipsum deserunt repellat magni mollitia vitae tempore ex. Laborum animi id
  libero vero, dignissimos omnis, commodi quidem rerum temporibus nemo quae eius
  quod assumenda dolores suscipit neque magnam incidunt eaque. Veritatis
  architecto, adipisci sed reprehenderit eligendi quis assumenda id eaque
  voluptatibus delectus fugiat praesentium dolorum? Perspiciatis exercitationem
  minima suscipit deserunt reprehenderit. Accusantium qui perferendis recusandae
  tempore suscipit magni, perspiciatis animi dolorem molestiae obcaecati facilis
  reprehenderit exercitationem dolor consequatur. Consequuntur asperiores
  similique atque quod quis mollitia nobis, tempore odio maiores rem inventore a
  cumque magnam accusamus assumenda maxime cum vitae? Quia unde alias earum in
  at iusto iste accusantium porro similique dolores aliquid aperiam odit ipsum
  inventore aspernatur, quo doloribus voluptates deserunt voluptatem libero
  minima quisquam ipsam. Ipsam repudiandae ratione dolores incidunt? Velit unde
  repellat molestias tempore saepe veritatis rerum. Rerum eius illo, aspernatur
  reiciendis vero facere incidunt soluta minima voluptatem sit sapiente,
  exercitationem eos eaque atque nisi quas provident sed! Facilis labore fuga
  iure earum a officia laborum soluta nulla in eligendi, tempora hic rem
  pariatur enim? Itaque, reprehenderit mollitia laboriosam consectetur officia
  cumque autem, eos dolor quibusdam explicabo aspernatur ab nobis, vel
  inventore? Alias, sit rerum iste earum veniam illo maiores repudiandae ullam
  debitis! Mollitia ipsam officiis illo, modi sapiente, rerum blanditiis autem
  provident maiores explicabo quibusdam? Dolores iure fugit maiores nam
  accusantium unde.
</div> -->