<ul class="home-nav">
        
    <li  class="nav-item active" data-page="home-list">
      <a href="./index.html" class="nav-btn" >
        <p class="item-text">home</p>
      </a>
      </li>
   
    <li class="nav-item" data-page="shpng-list">
      <a href="./shoping-list.html" class="shpng-list-btn" >
        <p class="item-text">Shopping list            <svg class=" shpng-list-logo" width="13px" height="17px">
          <use href="./images/sprite.svg#"></use>
        </svg>
      </p>

      </a>
    </li>
  </ul>


