<ul class="home-nav">
  <li class="nav-item" data-page="home-list">
    <a href="./index.html" class="nav-btn js-link">
      <p class="item-text">home</p>
    </a>
  </li>

  <li class="nav-item" data-page="shpng-list">
    <a href="./shoping-list.html" class="shpng-list-btn js-link">
      <p class="item-text">
        Shopping list
        <svg class="shpng-list-logo" width="20" height="20">
          <use class="bag" href="./images/sprite.svg#new-bag"></use>
        </svg>
      </p>
    </a>
  </li>
</ul>
