
<div class="support-wrapper">

<div id="support" class="support">
  <h1 class="title__support">Support Ukraine
    <svg class="title__trident">
      <use href="./images/sprite.svg#ua" width="20px" height="32px"></use>
    </svg>
  </h1>
  <button class="swiper-up-btn">
    <svg class="swiper__scroll-up">
      <use href="./images/sprite.svg#scroll-up"></use>
    </svg>
  </button>
  <ul class="list__support" id="support-list"></ul>
  <button class="swiper-down-btn">
    <svg class="swiper__scroll-down">
      <use href="./images/sprite.svg#down"></use>
    </svg>
  </button>
</div>
</div>
</div>







