<div class="support">
  <h1 class="title__support">Support Ukraine
    <svg class="title__trident">
      <use xlink:href="./images/sprite.svg#icon-Vector" width="20px" height="32px"></use>
    </svg>
  </h1>
  <button class="swiper-up-btn">
    <svg class="swiper__scroll-up">
      <use xlink:href="./images/sprite.svg#icon-arrow-up"></use>
    </svg>
  </button>
  <ul class="list__support" id="support-list"></ul>
  <button class="swiper-down-btn">
    <svg class="swiper__scroll-down">
      <use xlink:href="./images/sprite.svg#icon-arrow-down"></use>
    </svg>
  </button>
</div>







