.mob-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    background-image:radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%), url('/src/images/backgrounds/background.png');
    // background-position: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding: 0;
    display: flex;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:767px) {
        display: none;

    }

}
.mob-menu-container.is-open {
    transform: translateX(0);
}
.menu-header{
    height: 72px;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
    background-color:#FFFFFF;
}

.mob-menu-list{
    margin-top: 245px;
    margin-left: 129px;
}
.mob-menu__item{
    padding-top: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}
