$mobile: 479.97px;
$tablet: 767.98px;
$desktop: 1199.97px;



.book-list{
@media screen and (min-width:$tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    

}}





// .title-book{
//    color: #111111;
// font-family: DM Sans;
//     font-size: 16px;
//     font-weight: 700;
   
    
// }


// .img-book{
//     width: 100%;
//     height: 485px;
// }


// .author-dook{
//    color: #B4AFAF;
// font-family: DM Sans;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 18px;
//     letter-spacing: 0.03em;


// }
// .img-book{
//     align-items: center;
// }

// .title-categories{
//     color: #111111;
//  font-size: 32px;
// font-family: DM Sans;
//     font-size: 32px;
//     font-weight: 700;
//   padding-top:40px;
//   padding-bottom: 40px;
   
// }

.title-categories{
  font-family: DM Sans sans-serif;
    font-weight: 700;
font-size: 32px;
line-height: 1.88;
color: $primary-color;
letter-spacing: -0.04em;

margin-bottom: 40px;

  @media screen and (min-width: 768px) {
  font-size: 48px;
  line-height: 1.08;
  }
}

.span-book{
color:$secondary-color;
}

.item-book{
  display: block;
  flex-direction: column;
  margin-bottom: 8px;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  
    }


  
}

.img-book{
  display:block;
  border: none;
  border-radius: 8px;
  margin-bottom:14px;
  max-width: 100%;
  width: 335px;
  height: 485px;

  @media screen and (min-width: 768px) {
    width: 218px;
  height: 316px;
    }
    @media screen and (min-width: 1199px) {
      width: 180px;
    height: 256px;
      }
}



.title-book{
font-family: DM Sans sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.12;
color: $primary-color;
letter-spacing: -0.04em;

margin-bottom: 4px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
white-space:nowrap;
}

.author-dook{
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
color: $subtitle-color;
letter-spacing: -0.04em;
}

.see_more{
    font-weight: 700;
font-size: 14px;
line-height: 1.29;
color: $primary-color;
letter-spacing: -0.01em;
text-transform: uppercase;

padding: 14px 28px;
border: 2px solid rgba(79, 46, 232, 1);
display: block;
margin-left: auto;
margin-bottom:40px;
border: 2px solid rgba(79, 46, 232, 1);
border-radius: 40px;
}



@media screen and (max-width: 767px) {


.categorie__for__mobile{
font-weight: 400;
font-size: 14px;
line-height: 1.29;
color: $subtitle-color;
letter-spacing: 0.03em;
}

}