// $mobile: 479.97px;
// $tablet: 767.98px;
// $desktop: 1199.97px;


// .header {
//     height: 72px;

//     border: 1.5px solid #111111;
//     border-radius: 0px 0px 8px 8px;

// }

// .container {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-top: 0;
   
// }



// .header-nav {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     gap: 76px;
// }

// .logo {
//     display: flex;
//     text-decoration: none;
//     align-items: center;
//     vertical-align: middle;

// }

// .logo-img {
//     margin-right: 8px;
// }

// .logo-text {
//     color: rgba(0, 0, 0, 1);
// }

// .home-nav {
//     display: flex;
//     list-style: none;
//     align-items: center;
//     gap: 24px;

//     @media screen and (max-width: $tablet) {

//         display: none;
//     }

// }

// .nav-btn {
//     width: 72px;
//     height: 34px;

//     letter-spacing: -0.04em;
//     text-transform: uppercase;
//     font-weight: 700;

// }


// .shpng-list-btn {
//     width: 156px;
//     height: 34px;

//     font-weight: 500;
//     letter-spacing: -0.04em;
//     text-transform: uppercase;

// }


// .shpng-list-logo {
//     margin-left: 8px;
//     vertical-align: sub;
// }

// .active {
//     background: $third-color;
//     border-radius: 36px;
// }