$mobile: 479.97px;
$tablet: 767.98px;
$desktop: 1199.97px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 72px;

  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  background-color: $btn-support-color;
}

.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 76px;
}

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}

.logo-img {
  margin-right: 8px;
}

.logo-text {
  color: rgba(0, 0, 0, 1);
}

.home-nav {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.nav-btn {
  //  background-color: $third-color;
  border-radius: 36px;
  width: 72px;
  height: 34px;

  cursor: pointer;
}

.item-text {
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: $primary-color;
  text-align: center;
  padding-top: 8px;
}

.shpng-list-btn {
  width: 156px;
  height: 34px;
  border-radius: 36px;
  // background-color: $third-color;
  cursor: pointer;
}

.shpng-list-logo {
  margin-left: 8px;
  vertical-align: sub;
}

.active {
  background: $third-color;
  border-radius: 36px;
}

// SWITCH THEME

[data-theme='dark'] {
  background-color: rgba(32, 32, 36, 1);
  color: rgba(255, 255, 255, 1);
  .header {
    background: #111111;
    border: 1.5px solid #ffffff;
    border-radius: 0px 0px 8px 8px;
  }
  .book-empty-description {
    color: rgba(255, 255, 255, 0.6);
  }

  .logo-text {
    color: rgba(243, 243, 243, 1);
  }
  .slider {
    background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .item-text {
    color: rgba(255, 255, 255, 1);
  }

  .active {
    color: rgba(17, 17, 17, 1);
    background-color: $third-color;
  }

  .burger {
    fill: rgba(255, 255, 255, 1);
  }
  .bag {
    fill: rgba(255, 255, 255, 1);
  }
  .book-card {
    background-color: rgba(17, 17, 17, 1);
    border-color: rgba(79, 46, 232, 0.4);
  }

  .book-title {
    color: rgba(255, 255, 255, 1);
  }
  .book-description {
    color: rgba(255, 255, 255, 1);
  }

  .title-shopping-list {
    color: rgba(255, 255, 255, 1);
  }
  .mob-menu-close-btn {
    fill: #ffffff;
  }
  main {
    background-color: $some-color;
  }

  //Home
.title-book {
  color: $btn-support-color;
}
.title-categories {
  color: $btn-support-color;
}

.see_more {
  color: $btn-support-color;
  background-color: transparent;
}

  // Modal-window
  .modal {
    background-color: $some-color;
  }
  .modal-title {
    color: $btn-support-color;
  }
  .modal-close:after {
    background-color: $btn-support-color;
  }
  .modal-close:before {
    background-color: $btn-support-color;
  }
  .description {
    color: $btn-support-color;
  }
.remove-message {
  color: $sign-in-color-dm;
}
}

.theme-switch {
  display: inline-block;

  position: relative;
  width: 40px;
  top: -16px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: linear-gradient(180deg, $secondary-color 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  bottom: 0;
  cursor: pointer;
  height: 20px;
  width: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  transition: 0.9s;
  &:before {
    content: '';
    position: absolute;

    background: linear-gradient(180deg, $btn-support-color 0%, #f7f7f7 100%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
      1px 2px 4px rgba(0, 0, 0, 0.1);

    left: 1px;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: 0.5s;
  }
}

input:checked + .slider {
  background-color: $some-color;
}

input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #000;
}

.slider.round {
  border-radius: 80px;
  &::before {
    border-radius: 50%;
  }

  .title-shopping-list{
    color: white;
  }


}

.menu-btn {
  background-color: transparent;
  border: none;
}

.js-open-menu {
  padding: 0;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.mob-menu-close-btn {
  display: none;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
}

.mob-menu-close-btn.show {
  display: block;
}
.hidden {
  display: none;
}
