.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    /* opacity: 0.2; */
    z-index: 100;
    position: fixed;
    /* visibility: hidden; */
}


.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 24px;
    width: 287px;
    height: 100%;
    z-index: 300;
    background-color: #fff;
    position: relative;
    opacity: 1;
    border: 2px solid #111111;
    border-radius: 18px;
    /* visibility: hidden; */

    @media screen and (min-width: $tablet) {
            width: 579px;
            height: 465px;
        }

}

.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    
}

.modal-close {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border-color: transparent;
}

.modal-close::before {
    height: 2px;
    width: 14px;
    background-color: black;
    content: "";
    position: absolute;
    top: 1px;
    left: 20px;
    transform: rotate(45deg);

    @media screen and (min-width: $tablet) {
        width: 22px;
        top: 14px;
        left: 4px;
    }
}

.modal-close::after {
    height: 2px;
    width: 14px;
    background-color: black;
    content: "";
    position: absolute;
    top: 1px;
    left: 20px;
    transform: rotate(135deg);

    @media screen and (min-width: $tablet) {
            width: 22px;
            top: 14px;
            left: 4px;
        }
}


.modal-container {
   display: flex;
   flex-direction: column;
align-items: center;
   @media screen and (min-width: $tablet) {
    flex-direction: row;
   }
}

.add-to-cart-btn {
    width: 211px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18px / 14px);
    padding: 14px;
    text-align: center;
    letter-spacing: -0.01em;
    border: 2px solid #4F2EE8;
    border-radius: 40px;
    color: $primary-color;
    background-color: $btn-support-color;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.add-to-cart-btn:hover,
.add-to-cart-btn:focus {
    background-color: $support-gradient;
}

.modal-title{
    font-weight: 700;
        font-size: 16px;
        line-height: calc(18px / 16px);
     color: $primary-color;
}

.author {
    font-weight: 400;
        font-size: 12px;
        line-height: calc(14px / 12px);
        letter-spacing: -0.04em;
        color: $subtitle-color;
}

.description {
    font-weight: 400;
        font-size: 14px;
        line-height: calc(18px/14px);
        letter-spacing: -0.04em;
        color: $primary-color;
}

.book-details {
    padding: 14px;
}

.platforms {
    margin-bottom: 20px;
    display: flex;
}