.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    /* opacity: 0.2; */
    z-index: 100;
    position: fixed;
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 579px;
    height: 465px;
    z-index: 300;
    background-color: #fff;
    position: relative;
    opacity: 1;
    border: 2px solid #111111;
    border-radius: 18px;
}

.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.modal-close {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.modal-close::before {
    height: 2px;
    width: 22px;
    background-color: black;
    content: "";
    position: absolute;
    top: 14px;
    left: 4px;
    transform: rotate(45deg);
}

.modal-close::after {
    height: 2px;
    width: 22px;
    background-color: black;
    content: "";
    position: absolute;
    top: 14px;
    left: 4px;
    transform: rotate(135deg);
}

.modal-content {
    width: 499px;
    height: 385px;
    padding: 40px 40px;
}

.modal-container {
    display: flex;
    flex-wrap: wrap;
}

.btn-modal {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    padding: 10px 32px;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    color: var(--project-background);
    background-color: var(--active-color);

    border-color: transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--btn-background-color);
}