$mobile: 479.97px;
$tablet: 767.98px;
$desktop: 1199.97px;

.title__support {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  color: $btn-support-color;
  margin-bottom: 40px;
  
  letter-spacing: -0.04em;
  display: flex;
  gap: 12px;
  
}

.list__support {
  counter-reset: list-counter;
  color: $btn-support-color;
  height: 188px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    height: 292px;}


}

.list__support li {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 159px;
  
  
}

.list__support li::before {
  counter-increment: list-counter;
  content: "0" counter(list-counter, decimal);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.list__support img {
  filter: brightness(0) invert(1);
  vertical-align: middle;
 
}


.support {
  background-image: $support-gradient;
  width: 335px;
  overflow: hidden;
  border: none;
  border-radius: 16px;
  position: relative;
  padding-top: 24px;
  padding-bottom: 68px;
  padding-left: 40px;
  padding-right: 58px;

  

  @media screen and (min-width: $tablet) {
    padding-bottom: 84px;
    
  }

    @media screen and (min-width: $desktop) {
      width: 356px;
      

    }

}




.swiper-up-btn {
  position: absolute;
  top: 60px;
  left: 151px;
  
 
  background-color: $btn-support-color;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;



  @media screen and (min-width: $tablet) {
    width: 38px;
    height: 38px;}
}

.swiper__scroll-up {
  width: 20px;
  height: 20px;
  fill:$secondary-color;
  z-index: 9999;

  @media screen and (min-width: $tablet) {
    width: 22px;
    height: 22px;}
}


.swiper-down-btn {
  background-color: $btn-support-color;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 151px;

  @media screen and (min-width: $tablet) {
    width: 38px;
    height: 38px;}
  
}

.swiper__scroll-down{
  width: 20px;
  height: 20px;
  fill:$secondary-color;
  position: absolute;
  top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    @media screen and (min-width: $tablet) {
      width: 22px;
      height: 22px;}
}
.title__trident{
  width: 20px;
  height: 32px;
  fill: $btn-support-color;
  z-index: 99;

}


.hide-support{
  display: block;
  margin-top: 112px;
  @media screen and (max-width: $tablet) {
   display: none;
  }
}



.swiper-up-btn {
  position: absolute;
  top: 60px;
  left: 151px;
  
 
  background-color: $btn-support-color;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;



  @media screen and (min-width: $tablet) {
    width: 38px;
    height: 38px;}
}

.swiper__scroll-up {
  width: 20px;
  height: 20px;
  fill:$secondary-color;
  z-index: 9999;

  @media screen and (min-width: $tablet) {
    width: 22px;
    height: 22px;}
}


.swiper-down-btn {
  background-color: $btn-support-color;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 151px;

  @media screen and (min-width: $tablet) {
    width: 38px;
    height: 38px;}
  
}

.swiper__scroll-down{
  width: 20px;
  height: 20px;
  fill:$secondary-color;
  position: absolute;
  top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    @media screen and (min-width: $tablet) {
      width: 22px;
      height: 22px;}
}
.title__trident{
  width: 20px;
  height: 32px;
  fill: $btn-support-color;
  z-index: 99;
}
// Стилі вище - не міняти

// Стилі для приховування support Ukraine на shoppping list
.hide-support {
  display: none;
}

.support-wrap{
    display: block;
  }


@media (max-width:  1199.97px) {
  .support-wrap-container {
    display: none;
  }

}


.support-wrap.categories-wrap{
  margin-top: 104px;
}